/*
|--------------------------------------------------------------------------
| Vars
|--------------------------------------------------------------------------
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "node_modules/@wurren/bascss/bascss";
@import "components/fonts";

// Grid used with basecss
$grid-columns: 12;
$grid-column-padding: 15px;
$grid-float-breakpoint: 768px;

/*
|--------------------------------------------------------------------------
| Libraries
|--------------------------------------------------------------------------
*/

@import "libs/plugins.scss";

/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
*/

@import "components/layout.scss";
@import "components/type.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/buttons.scss";
@import "components/forms.scss";

/*
|--------------------------------------------------------------------------
| App
|--------------------------------------------------------------------------
*/

@import "pages/homepage.scss";
@import "pages/page.scss";
@import "pages/post.scss";
